body{
    background-color: #FFF1CC;
    width: 100%;
}

#parent-headeer{
    text-align: center;
    margin-bottom: 10vw;
}

#sun {
    margin-left: auto;
    margin-right: auto;
    max-height: 100vh;
    max-width: 100%;
    text-align: center;
    display: block;

    
}

.dot-font{
    font-family: 'DotGothic16', sans-serif;

}

#sub-title{
    color: #fff;
    font-size: 2.5vw;
    margin-bottom: 1.8vh;
    text-shadow: 0.2vw 0.2vw 0 #000000, -0.2vw -0.2vw 0 #000000,
                -0.2vw 0.2vw 0 #000000, 0.2vw -0.2vw 0 #000000,
                0px 0.2vw 0 #000000,  0 -0.2vw 0 #000000,
                -0.2vw 0 0 #000000, 0.2vw 0 0 #000000;
}

#title{
    width: 70vw;
    margin-bottom: 5%;

}

#cursor{
    width: 6vw;
    margin-top: 0;
    margin-left: 50%;
}

#transitionButton{
    width: 40vw;
}

.header{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    position: relative;
    display: inline-block;
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#order-word{
    width: 32vw;
    height: 12vh;
    margin: auto;
    line-height: 12vh;
    font-size: 2.3vw;
    text-align: center;
    color: #fff;
    transition: all .2s;
    text-shadow:0.1vw 0.1vw 0 #E41B00, -0.1vw -0.1vw 0 #E41B00,
                -0.1vw 0.1vw 0 #E41B00, 0.1vw -0.1vw 0 #E41B00,
                0px 0.1vw 0 #E41B00,  0 -0.1vw 0 #E41B00,
                -0.1vw 0 0 #E41B00, 0.1vw 0 0 #E41B00;

}
#order-word:hover{
    font-size: 1.6vw;
}


#why-tmt{
    margin: 0 auto 3vh auto;
    position: relative;
}

.rmt-title{
    font-family: 'Dela Gothic One', cursive;
    font-size: 5.2vw;
    text-align: center;
    width: 100%;
}

#why-rmt-content{
    font-size: 2.8vw;
    color: #fff;
    text-align: center;
    width: 100%;
    text-shadow:0.2vw 0.2vw 0 #000000, -0.2vw -0.2vw 0 #000000,
            -0.2vw 0.2vw 0 #000000, 0.2vw -0.2vw 0 #000000,
            0px 0.2vw 0 #000000,  0 -0.2vw 0 #000000,
            -0.2vw 0 0 #000000, 0.2vw 0 0 #000000;
    
    
}

#customer-content{
    margin-bottom: -1vw;
}

#why-tmt-parent{
    width: 100vw;
}

@media only screen and (max-width: 462px) {
    .parent-icon{
        width: 100%;
        height: 100%;
    }
    
    #king-jisan{
        width: 25vw;
        margin-left: -100%;    
    }
    
    #kinoko{
        width: 25vw;
        margin-top: 160%;
    }
    
}

@media only screen and (min-width: 463px) {
    
    .parent-icon{

        width: 100%;
        height: 100%;
    }
    
    #king-jisan{
        width: 170%;
        margin-left: -70%;    
    }
    
    #kinoko{
        width: 160%;
        margin-top: 100%;
    }
    
    
}


#safe-title{
    margin: 2vw auto 0 auto;
}

#japanese-blue{
    font-size: 7.2vw;
    color: #FF5D2A;
    text-align: center;
    -webkit-text-stroke: 0.7vw #000000;
}


#point{
    height: 100%;
    margin-bottom: 3vh;
}

.point-box{
    position: relative;
    width: 100%;
}

.point-iamge{
    width: 100%;
    margin: 0 auto;
}


.point-title{
    position: absolute;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Kaisei Tokumin', serif;
    
    color: #15A6D0;
    -webkit-text-stroke: 1px #EFF192;
}



#point-safe{
    font-size: 5.4vw;
}

#point-speedy{
    font-size: 4.4vw;
}

#point-compensation{
    font-size: 3.9vw;
}

.point-content{
    height: 100%;
}

.point-card-white{
    background-color: #ffffff;
    padding: auto;
    margin-top: -40%;
    width: 100%;
    height: 50vw;
    border-radius: 2.5vw;
}

.point-card-red{
    background-color: #F26D51;

    margin: auto;
    border-radius: 2.5vw;
    width: 90%;
    height: 98%;

    word-break: break-all;

}

@media screen and (max-width: 349px) {

    .point-exam{
        width: 100%;
        height: 100%;
        padding-top: 30%;
        margin: 0 auto 0 auto;
        color: #ffffff;
        font-family: 'DotGothic16', sans-serif;
        transform: scale(0.9);
        font-size: 2.5vw;

    }
    
}

@media screen and (min-width: 350px) and (max-width: 380px) {

    .point-exam{
        width: 97%;
        height: 100%;
        padding-top: 30%;
        margin: 0 auto 0 auto;
        color: #ffffff;
        font-family: 'DotGothic16', sans-serif;
        transform: scale(0.9);
        font-size: 2.3vw;
    }
    
}



@media screen and (min-width: 381px) and (max-width: 400px) {

    .point-exam{
        width: 97%;
        height: 100%;
        padding-top: 20%;
        margin: 0 auto 0 auto;
        color: #ffffff;
        font-family: 'DotGothic16', sans-serif;
        transform: scale(0.8);
        font-size: 2.5vw;

    }
    
}




@media screen and (min-width: 401px) and (max-width: 420px) {

    .point-exam{
        width: 95%;
        height: 100%;
        padding-top: 30%;
        margin: 0 auto 0 auto;
        color: #ffffff;
        font-family: 'DotGothic16', sans-serif;
        transform: scale(0.9);
        font-size: 2.3vw;

    }
    
}

@media screen and (min-width: 421px) and (max-width: 450px) {

    .point-exam{
        width: 95%;
        height: 100%;
        padding-top: 30%;
        margin: 0 auto 0 auto;
        color: #ffffff;
        font-family: 'DotGothic16', sans-serif;
        font-size: 2.3vw;
    }
    
}

@media screen and (min-width: 451px) and (max-width: 481px) {

    .point-exam{
        width: 90%;
        height: 100%;
        padding-top: 40%;
        margin: 0 auto 0 auto;
        color: #ffffff;
        font-family: 'DotGothic16', sans-serif;
        font-size: 2.3vw;
        transform: scale(1);
    }
    
}


@media screen and (min-width: 481px) {

    .point-exam{
        width: 90%;
        height: 100%;
        padding-top: 40%;
        margin: 0 auto 0 auto;
        color: #ffffff;
        font-family: 'DotGothic16', sans-serif;
        font-size: 2.3vw;
    }

}






#marusen-parent{
    width: 100%;
    margin-top: -2vh;
    margin-bottom: 15%;
    text-align: center;
}

#marusen{
    width: 70%;
    text-align: center;
}

.custmer-voice{
    width: 100%;
}

#transactions-title{
    text-align: right;
}

#rocket{
    width: 40%;

}

.transactions-content{
    width: 150%;
    position: relative;
}


.transactions-content-image{
    width: 100%;

}


.transactions-content-title{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto 0 auto;
    width: 100%;
    font-size: 2.6vw;
    font-family: 'DotGothic16', sans-serif;
}

.transactions-arrow-content{
    width: 100%;
    height: 100%;
}

.transactions-arrow{
    width: 50%;
    margin-right: 0;
    
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
    width: 100%;
    display: block !important;
}
.sp {
    width: 60%;
    margin: 0 auto;
    display: none !important;
}
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 980px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}

#transactions-message{
    text-align: center;
    font-size: 3.0vw;
    color: #fff;
    text-align: center;
    width: 100%;
    -webkit-text-stroke: 0.15vw #000000;
    /* text-shadow:0.2vw 0.2vw 0 #000000, -0.2vw -0.2vw 0 #000000,
            -0.2vw 0.2vw 0 #000000, 0.2vw -0.2vw 0 #000000,
            0px 0.2vw 0 #000000,  0 -0.2vw 0 #000000,
            -0.2vw 0 0 #000000, 0.2vw 0 0 #000000; */
    
    
}

#sunny{
    width: 7%;
    vertical-align: middle;
}

#second-button{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.second-cursor-content{
    

}


#second-cursor{
    text-align: right;
    margin-left: 60%;
    width: 10vw;
    margin-bottom: 10%;
}


.hasen-cotainer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.hasen{
    text-align: center;
    width: 95%
}

.phone{
    width: 100%;
}

#inquiries{
    color: #FFB800;
    text-shadow:4px 4px 0 #000000, -4px -4px 0 #000000,
        -4px 4px 0 #000000, 4px -4px 0 #000000,
        0px 4px 0 #000000,  0 -4px 0 #000000,
        -4px 0 0 #000000, 4px 0 0 #000000;
}

#support-content{
    text-align: center;
    font-size: 2.8vw;
    font-family: 'DotGothic16', sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
    text-shadow:0.2vw 0.2vw 0 #000000, -0.2vw -0.2vw 0 #000000,
                -0.2vw 0.2vw 0 #000000, 0.2vw -0.2vw 0 #000000,
                0px 0.2vw 0 #000000,  0 -0.2vw 0 #000000,
                -0.2vw 0 0 #000000, 0.2vw 0 0 #000000;
    
}

#support-title{
    color: #FFB800;
    -webkit-text-stroke: 0.4vw #000000;
}

#support-info{
    text-align: center;
    font-size: 2.8vw;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: #FF440A;
    text-align: center;
    width: 100%;
}

#support-info a{
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: #FF440A;
    text-decoration: none;
}

#footer{
    height: 20vh;
    background-color: #595959;
    position: relative;
}

#footer-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 10vh;

}

.footer-ul{
    text-align: center;
}

.footer-li{
    display: inline-block;
    padding: 0 1%;
}

.footer-link{
    color: #fff;
    font-size: 2.0vw;
    text-decoration: underline;
    font-family: 'Dela Gothic One', cursive;

}

address{
    text-align: center;
    font-size: 1.4vw;
    color: #fff;

}

#transactions-title-content{
    margin-top: 10vh;
}

.green-back{
    background-color: #E1FF2A;
}


@media only screen and (max-width:768px) {
    #flow-pc-icon{
        display: none;
    }



    .flow {
        border: 3px solid #000000;
        margin: 0 10vw 0 10vw ;
        background-color: #FFFFFF;


      }
      .flow > li {
        padding: 30px;
      }
      .flow > li:not(:last-child) {
        border-bottom: 3px solid #000000;
        position: relative;
      }
      .flow > li:not(:last-child)::before,
      .flow > li:not(:last-child)::after {
        content: "";
        border: solid transparent;
        position: absolute;
        top: 100%;
        left: 15%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
      .flow > li:not(:last-child)::before {
        border-width: 22px;
        border-top-color: #000000;
      }
      .flow > li:not(:last-child)::after {
        border-width: 18px;
        border-top-color: #000000;
      }
      .flow > li dl {
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .flow > li dl dt {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
        margin-right: 1vw;
        text-align: center;
      }

      
      .flow > li dl .icon {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        margin-right: 1vw;
        text-align: center;
      }


      .flow > li dl .icon {
        font-size: 12px;
        color: #fff;
        background: #000000;
        /* background: -moz-linear-gradient(left, #000000 0%, #000000 100%);
        background: -webkit-linear-gradient(left, #000000 0%,#000000 100%);
        background: linear-gradient(to right, #000000 0%,#000000 100%); */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
        padding: 5px 10px;
        margin-bottom: 10px;
        display: block;
        border-radius: 20px;
      }
}

@media only screen and (min-width:769px) {

    #flow-dt-icon{
        display: none;
    }

    dd {
        margin-left: 0;
      }
      
      .flow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
      }
      .flow > li {
        -ms-flex-preferred-size: 22%;
        flex-basis: 22%;

      }
      .flow > li .icon {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        line-height: 50px;
        width: 50px;
        color: #fff;
        /* background: rgb(107,144,219); */
        background: #000000;
        margin: 0 auto 20px;
        display: block;
        border-radius: 50%;
        text-align: center;
        position: relative;
        letter-spacing: 2px;
      }
      .flow > li .icon::before {
        content: "";
        border: solid transparent;
        border-width: 8px;
        border-top-color: #000000;
        position: absolute;
        top: calc(100% - 2px);
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
      .flow > li dl {
        padding: 30px 20px;
        margin: 0;
        background-color: #FFFFFF;
        border: 3px solid #000000;
        position: relative;
      }
      .flow > li:not(:last-child) dl::before {
        content: "";
        width: 14px;
        height: 14px;
        margin-right: 10px;
        display: inline-block;
        border-top: 4px solid #000000;
        border-right: 4px solid #000000;
        position: absolute;
        top: calc(50% - 14px);
        left: 104%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .flow > li dl dt {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        margin-bottom: 1vh;
        text-align: center;
      }
}


